@use '../../scss/' as *;

.rightSide {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 1rem;
  flex: 0.4;
  display: none;
  @include media(1024px) {
    display: flex;
  }
}
