@use '../../scss/' as *;

// this is specifique to the modal
.share-modal-button {
  width: calc(100% - 2rem);
  align-self: center;
}

.modal {
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;

  &.active {
    display: flex;
  }
  .close-modal-area {
    all: unset;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 0.07);
  }
}
// modal end here

.shareComp {
  // this is specifique to the modal
  &.share-modal {
    position: relative;
    background-color: $bg-color;
    max-width: 34rem;
    z-index: 25;
    .share-close-button {
      position: absolute;
      @include fontSize(1rem);
      right: 0rem;
      top: -2rem;
      padding-inline: 0.5rem;
      padding-block: 0.2rem;
    }
  }
  // modal end here
  width: calc(100% - 2rem);
  @include flex(center, space-between);
  gap: 1rem;
  padding: 1rem;
  background-color: $cardColor;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px #0000000f);
  border-radius: 1rem;

  .share-wrapper {
    flex: 1;
    padding-inline: 1rem;
    @include flex(center, center);
    flex-direction: column;
    gap: 0.5rem;

    & > input {
      width: 100%;
      background-color: $inputColor;
      outline: none;
      border: none;
      padding-block: 0.6rem;
      text-indent: 1rem;
      border-radius: 10px;
    }
    .share-actions {
      @include flex(center, unset);
      width: 100%;
      gap: 0.5rem;
      & > button > span {
        display: none;
        @include media(768px) {
          display: flex;
        }
      }
      & > button:nth-child(1) {
        color: $photo;
      }
      & > button:nth-child(2) {
        color: $video;
      }
      & > button:nth-child(3) {
        color: $location;
      }
      & > button:nth-child(4) {
        color: $shedule;
      }

      .share-button {
        margin-left: auto;
      }
    }
  }

  .previewImage {
    width: 100%;
    position: relative;
    .delete-image {
      border: 1px solid $danger;
      border-radius: 50%;
      padding: 0.2rem;
      @include flex(center, center);
      position: absolute;
      bottom: 0;
      right: 0;
      @include fontSize(1.5rem);
      color: $danger;
      cursor: pointer;
      transition: all 200ms ease;
      &:hover {
        background-color: $danger;
        color: $lighter-text;
      }
    }

    & > img {
      width: 6rem;
      border-radius: 10px;
      object-fit: cover;
      @include media(768px) {
        width: 10rem;
      }
    }
  }
}
