@use './scss/' as *;

.app {
  overflow: hidden;
  color: $darker-text;
  background-color: $lighter-text;
  font-family: $ff;
  font-display: swap;

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: $blur;
    filter: blur(72px);
    &.blur-top {
      top: -18%;
      right: 0;
    }
    &.blur-mid {
      top: 36%;
      left: -8rem;
    }
  }
}
