@mixin flex($align-items, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin fontSize($size) {
  font-size: $size;
  line-height: calc($size + 0.5rem);
}
