@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}
