$accent: #1d9bf0;
$darker-accent: #1983c9;

$darker-text: #242d49;
$lighter-text: #ffffff;

$danger: #d30606;

$shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
  drop-shadow(0 2px 2px #0000000f);

$buttonBg: linear-gradient(98.63deg, $accent 0%, $darker-accent 100%);
$bg-color: #ffffff;
$inputColor: #28343e12;
$cardColor: #ffffffa3;
$hrColor: #cfcdcd;

$profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);

$yellow: #f5c32c;
$gray: #242d49a6;

$photo: #4cb256;
$video: #4a4eb7;
$location: #ef5757;
$shedule: #e1ae4a;
$blur: #a6ddf0;

$likes: #ef5757;
$reply: #4cb256;
$share: #4a4eb7;

$ff: 'Montserrat', sans-serif;
