@use '../../scss/' as *;

.profileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  background-color: $cardColor;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  overflow: hidden;

  .profile-image {
    position: relative;
    @include flex(center, center);
    flex-direction: column;

    & > img:nth-child(1) {
      width: 100%;
    }
    & > img:nth-child(2) {
      width: 6rem;
      border-radius: 50%;
      position: absolute;
      bottom: -3rem;
      box-shadow: $profileShadow;
    }
  }

  .profile-name {
    @include flex(center, unset);
    flex-direction: column;

    margin-top: 3rem;
    gap: 0.6rem;
    & > span:nth-child(1) {
      font-weight: bold;
    }
  }

  .profile-status {
    @include flex(center, center);
    flex-direction: column;
    gap: 0.75rem;
    & > hr {
      width: 85%;
      border: 1px solid $hrColor;
    }

    & > div {
      @include flex(center, space-around);
      gap: 1rem;
      width: 80%;
      .vertical-line {
        padding-block: 1rem;
        border: 1px solid $hrColor;
      }
      .follow {
        @include flex(center, center);
        flex-direction: column;
        gap: 0.4rem;
        & > span:nth-child(1) {
          font-weight: bold;
        }
        & > span:nth-child(2) {
          color: $gray;
          font-size: 13px;
        }
      }
    }
  }

  & > span {
    font-weight: bold;
    color: $accent;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
